<!-- Modal -->
{{> modalHeader modal-title='Editing text'}}
    <div class="modal-body">
            <div class=" card-body">
                {{#each data.description}}
                <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <div class="input-group-text">{{@key}}</div>
                    </div>
                    <input  type="text" class="form-control form-node-description" data-index="{{@index}}" 
                            data-nodeid="{{../id}}" data-key="{{@key}}" 
                            value="{{this}}" title="Edit {{@key}} value">
                </div>
                {{/each}}
            </div>
    </div>
    <div class="modal-footer bg-light">
        <button type="button" class="btn  btn-outline-danger" onclick="saveSetting('{{id}}');">Save in Setting</button>
        <button type="button" class="btn  btn-outline-success" onclick="saveValues('{{id}}');">Save in Project</button>
        <button type="button" class="btn  btn-outline-secondary" data-dismiss="modal">Close</button>
    </div>
{{> modalFooter}}