{{#*inline "data-node" index id }}
    data-index="{{index}}" data-nodeid="{{id}}" 
{{/inline}}

{{#*inline "input-box"}}
    <input  type="text" class="form-control form-node"
            {{> data-node index=@index id=id }} 
            name="{{id}}" placeholder="{{data.placeholder}}" 
            value="{{data.text}}" 
            title="{{data.usershelper}}">
{{/inline}}

{{#*inline "textarea-box"}}
    <textarea class="form-control form-node" 
            {{> data-node index=@index id=id }}
            name="{{id}}" placeholder="{{data.placeholder}}" 
            title="{{data.usershelper}}"
            rows="3">{{data.text}}</textarea>
{{/inline}}

{{#if data}}
<div class="form-group">
    {{#if data.properties}}
        <!-- properties form group -->
        {{#properties_template id}}{{/properties_template}}
    {{else}}
        <div class="callout callout-success">
            <label for="{{id}}" class="">{{text}}: </label>
            {{#if data.description}}
            <p class="
                {{#if data.description.class}}
                    {{data.description.class}}
                {{else}}
                    text-primary
                {{/if}}">
                {{data.description.text}}
                <button type="button" class="btn btn-tool data-desc" {{> data-node index=@index id=id }}">
                    <i class="nav-icon fas fa-edit"></i>
                </button>
            </p>
            {{/if}}
            {{#if data.option}}
                <select class="custom-select form-node" {{> data-node index=@index id=id }}" name="{{id}}" title="{{data.usershelper}}">
                    {{#each data.options}}
                    <option value="{{this}}" {{#when this "eq" ../data.text}}selected{{/when}}>{{this}}</option>
                    {{/each}}
                </select>
            {{else}}
                {{#if data.check}}
                    <div class="row">
                    {{#each data.options}}
                            <div class="col col-6 col-md-4">
                                <div class="custom-control custom-switch custom-switch-off-default custom-switch-on-success">
                                    <input  type="checkbox" class="custom-control-input form-node" 
                                            {{> data-node index=@index id=../id }}
                                            id="check-{{../id}}-{{@index}}" 
                                            name="check-{{../id}}-{{@index}}"
                                            {{#if checked}}checked{{/if}}>
                                    <label class="custom-control-label" for="check-{{../id}}-{{@index}}" 
                                    title="{{this.usershelper}}">{{this.text}}</label>
                                </div>
                            </div>
                    {{/each}}
                    </div>
                {{else}}
                    {{#if data.type}}
                        {{#when data.type "eq" "textarea"}} {{> textarea-box}} {{/when}}
                    {{else}}
                        {{> input-box}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    {{/if}}
</div>
{{/if}}